body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("/wave-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

:where(.title, .subtitle) {
  text-align: center;
  text-shadow: -2px 4px 7px rgba(0,0,0,0.61);
}

.title {
  font-size: 3rem;
  color: #f5f5f5;
}

.subtitle {
  color: #f5f5f590;
  margin: -1.5rem 0 4rem;
}

@media(min-width: 1000px){
  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}