:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/wave-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3rem;
  color: #f5f5f5;
  text-align: center;
} */

.content_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: darkslategray;
  color: #f5f5f5;
}

.saida {
  display: flex;
  gap: 1rem;
  height: 3rem;
}

.saida > div {
  width: 100%;
  border: none;
  background-color: aliceblue;
  height: 100%;
  color: #002233;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.checks_container {
  display: flex;
  justify-content: space-between;
  /* gap: 1rem; */
  flex-wrap: wrap;
}

.checks_container > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

input[type=checkbox] {
  width: 1.025rem;
  height: 1.025rem;
  accent-color: #002233;
}

.center {
  margin: 0 auto;
}